<ng-container>
    <div class="container-fluid mt-3 gap-4 d-flex flex-column">
      <div class="row">
        <div class="col-md-6 m-0 p-0">
          <img
            class="w-100 rounded-2"
            src="../../assets/images/robot-4k.jpg"
            alt=""
          />
        </div>
        <div class="col-md-6 py-0 my-0 info-container">
          <span class="fw-bold fs-4 text-center info-angular">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam vel
            temporibus vero est sint nobis ullam, incidunt veritatis aliquam?
            Similique soluta, repudiandae dolores odit, corporis in incidunt
            exercitationem minus recusandae libero rem culpa ad omnis, facilis
            veritatis rerum deleniti quis.
          </span>
          <div class="white-shadow"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 py-0 my-0 info-container">
          <span class="fw-bold fs-4 text-center info-angular">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam vel
            temporibus vero est sint nobis ullam, incidunt veritatis aliquam?
            Similique soluta, repudiandae dolores odit, corporis in incidunt
            exercitationem minus recusandae libero rem culpa ad omnis, facilis
            veritatis rerum deleniti quis.
          </span>
          <div class="white-shadow"></div>
        </div>
        <div class="col-md-6 m-0 p-0 rounded-2 img-container">
          <img
            class="w-100 rounded-2"
            src="../../assets/images/robot-2-4k.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
  </ng-container>
  