fieldset{
    box-shadow: 0 0 10px rgba(255,255,255,0.5);
    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 20px; 
    input{
        padding: 4px;
        outline: 0;
        width: 300px;
        border:none;
        text-indent: 3px;
        background-color: transparent;
        border-bottom: 2px solid #ccc;
        color:#fff;
    }
}